<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('views/head.ejs') %>
    <title>playground3</title>
    <link rel="stylesheet" href="style/group2/playground3.css">
    <script src="js/group2/playground3.js"></script>
</head>
<body>

</body>
</html>
